@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/Content/main_page_style.css" />
    <title>Untitled Document</title>
</head>
<body>
    <!--Header section-->
    <div class="wrapper_fluid header">
        <div class="wrapper">
            <div class="left_side_bar">
                <a class="logo" href="#"><img src="~/Images/logo.png" alt="logo" /></a>
            </div>
            <div class="right_side_bar">
                <ul>
                    <li><a href="#">Already have account?</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
            </div>
            <div class="clear-me"></div>
        </div>
    </div>
    <!--Content section-->
    <div class="wrapper signup_session">
        <center>
            <h1>Let's get started! <br /> <small>First, tell us what you're looking for.</small></h1>
        </center>
        <div class="signup_box">
            <div class="icon"><img src="~/Images/signup_icon1.jpg" alt="" /></div>
            <center>
                <h1>I want to hire a</h1>
                <h2>freelancer</h2>
                <p>
                    Find, collaborate with, <br />
                    and pay an expert.
                </p>
                <a class="button" href="#">Hire</a>
            </center>
        </div>


        <div class="middle_box">
            <h1>OR</h1>
        </div>


        <div class="signup_box pull_right">
            <div class="icon"><img src="~/Images/signup_icon2.jpg" alt="" /></div>
            <center>
                <h1>I'm looking for</h1>
                <h2>online work</h2>
                <p>
                    Find freelance projects and <br />
                    grow your business.
                </p>
                <a class="button" href="#">Work</a>
            </center>
        </div>
        <div class="clear-me"></div>
    </div>
    <!--Footer section-->
    <div class="wrapper_fluid footer">
        <div class="wrapper">
            <center><p>© 2015 Copyrights Reserved</p></center>
        </div>
    </div>
</body>
</html>
