@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/Content/signup_freelancer_style.css" />
    <title>Untitled Document</title>
</head>

<body>
    <!--Header section-->
    <div class="wrapper_fluid header">
        <div class="wrapper">
            <div class="left_side_bar">
                <a class="logo" href="#"><img src="~/Images/logo.png" alt="logo" /></a>
            </div>
            <div class="right_side_bar">
                <ul>
                    <li><a href="#">Already have account?</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
            </div>
            <div class="clear-me"></div>
        </div>
    </div>
    <!--Content section-->
    <div class="wrapper signup_session_FL">
        <center>
            <h1>Create a Freelancer Account</h1>
            <h2>Looking for work? <a href="#">Sign up as a freelancer</a></h2>
        </center>
        <form class="form_control" action="#">
            <input type="text" value="" placeholder="First Name" />
            <input type="text" value="" placeholder="Last Name" />
            <input type="text" value="" placeholder="Email" />
            <select>
                <option>Select Country</option>
            </select>
            <input type="text" value="" placeholder="Username" />
            <input type="password" value="" placeholder="Password" />
            <input type="text" value="" placeholder="How did you hear about us?" />
            <input type="text" value="" placeholder="Type the letters below" />
            <center class="capche_img"><img src="~/Images/code_img.jpg" alt="" /></center>
            <div class="checkbox">
                <label><input type="checkbox" value="" /> I have read, understand and agree to the Terms of Service, including &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;the <a href="#">User Agreement</a> and <a href="#">Privacy Policy</a>.</label>
            </div>


            <center>
                <button class="button" type="submit" value="">Get Started</button>
            </center>
            <div class="clear-me"></div>
        </form>

        <div class="clear-me"></div>
    </div>
    <!--Footer section-->
    <div class="wrapper_fluid footer">
        <div class="wrapper">
            <center><p>© 2015 Copyrights Reserved</p></center>
        </div>
    </div>
</body>
</html>
